/* IMPORT LIBRERY */
@import url("https://eliud-cesar.github.io/ElyCsss/elycsss.css");

/* GENERAL */
* {
  color: white;
}

/* HEADER */
.header {
  z-index: 10;
  top: 0;
  position: fixed;
  width: 97%;
  display: flex;
  height: 3.5rem;
  background: #1a1a1a;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.h-sect-1, .h-sect-2, .h-sect-3 {
  display: flex;
  height: 90%;
  align-items: center;
}
.h-sect-1 img, .h-sect-3 img {
  height: 45%;
}
.h-sect-3 img {
  margin-right: 2rem;
}
.menu-burger {
  width: 13%;
  margin-right: 1rem;
}
.search-yt {
  background: #121212;
  border: 1px solid #333333;
  width: 35rem;
  height: 80%;
  border-radius: .1rem 0 0 .1rem;
  padding: 0 .5rem;
}
.search-yt:focus {
  outline: 1px solid #7e7efb;
  border: none;
  box-shadow: none;
}
.button-search {
  background: #333333;
  border: none;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  border-radius: 0 .1rem .1rem 0;
}
.button-search img {
  height: 65%;
}
.microphone {
  background: #121212;
  border-radius: 50%;
  height: 80%;
  margin-left: 1rem;
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.microphone img {
  height: 40%;
}
.profile-yt {
  margin: 0 !important;
  clip-path: circle(50%);
  height: 60% !important;
}

/* MAIN */
.main-yt {
  height: 110vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  margin-top: 4rem;
}

.main-videos {
  grid-column: span 17;
  border-top: 1px solid #666666;
  background: #000;
}
.menu-left {
  grid-column: span 3;
  /* position: sticky; */
}
